/******************************************************

		GERAL

*******************************************************/

body{
	background-color: rgb(231, 228, 228);
}




/******************************************************

		CLASSES

*******************************************************/

.casaBranca{
	background-color: rgb(207, 207, 207);
	color: blueviolet;
}

.casaPreta{
	background-color: rgb(100, 100, 100);
	color: blueviolet;
}

.caminho{
	width: 55px;
	height: 55px;
	background-color: rgba(128, 236, 255, 0.699);
	border: none;
}

.semCaminho{
	width: 90%;
	height: 90%;
	background-color: rgba(128, 236, 255, 0);
	border: none;
}

.pecaInimiga{
	width: 55px;
	height: 55px;
	background-color: rgba(255, 137, 41, 0.808);
}

.tabuleiro{
    width: 740px;
	height: 740px;
	border: 2px solid black;
	margin: auto;
}

.peca{
	width: 55px;
	height: 55px;
	margin: 0px;
	padding: 0px;
}

.promocaoBranco{
	width: 100px;
	height: 100px;
	margin: auto;
	padding: 20px;
}

.promocaoPreto{
	width: 100px;
	height: 100px;
	margin: auto;
	padding: 40px;
   	transform:  rotate(180deg);
}


/*




quadrado
.tabuleiro{
    width: 740px;
	height: 740px;
	border: 2px solid black;
	margin: auto;
}


tabela
.tabuleiro{
    width: 1600px;
	height: 200px;
}


.peca{
	width: 100%;
	height: 100%;
	margin: auto;
}
*/
/******************************************************

		IDS

*******************************************************/


#tabuleiro{

}

#tabuleiro th{
	width: 60px;
	height: 60px;
}


#promocao{
	display: none;
	left: 20%;
	top: 15%;
	width: 800px;
	height: 400px;
	position: fixed;
	background-color: white;
	border: 2px solid gray;
	box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.3);
}





#promocao input{
	margin: 40px;
}








/*******************************************************/

